gold_model:
  name: dim_sales_reason
  type: materialized_view
  description: "Sales reason dimension"

  source_tables:
    - silver.salesreason

  sql: |
    SELECT
      SalesReasonID AS sales_reason_key,
      Name AS reason_name,
      ReasonType AS reason_type,
      current_timestamp() AS etl_timestamp
    FROM salesreason

  quality:
    expectations:
      - name: "reason_key_not_null"
        constraint: "sales_reason_key IS NOT NULL"
        action: fail
