gold_model:
  name: dim_territory
  type: materialized_view
  description: "Territory dimension"

  source_tables:
    - silver.salesterritory

  sql: |
    SELECT
      TerritoryID AS territory_key,
      Name AS territory_name,
      CountryRegionCode AS country_code,
      `Group` AS region_group,
      SalesYTD AS territory_sales_ytd,
      SalesLastYear AS territory_sales_last_year,
      CostYTD AS territory_cost_ytd,
      CostLastYear AS territory_cost_last_year,
      current_timestamp() AS etl_timestamp
    FROM LIVE.salesterritory

  quality:
    expectations:
      - name: "territory_key_not_null"
        constraint: "territory_key IS NOT NULL"
        action: fail
      - name: "valid_territory_name"
        constraint: "territory_name IS NOT NULL"
        action: fail
